

table{
    border-collapse: collapse;
    border: 1px solid black;
}
#table1 th , #table1 td{
    border: 1px solid black;
}
#table2 th, #table2 td{
    border: 1px solid black;
}
    #table3 th, #table3 td{
        border: 1px dashed black

}
div{
    margin: 40px;
}
#table2 tr:nth-child(4n+1){
    background-color: blue;
}
#table2 tr:nth-child(4n+2){
    background-color: rgba(0, 0, 255, 0.682);
}
#table2 tr:nth-child(4n+3){
    background-color: rgba(0, 0, 255, 0.421);
}
#table2 tr:nth-child(4n){
    background-color: rgba(0, 0, 255, 0.257);
}
#table3 tr:first-child{
    background-color: rgb(217, 217, 124);
}
#table3 tr{
    height: 50px;
    
    
}
#table3{
    width: 600px;
}
